@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: 'Montserrat', sans-serif;
}

.container{
 max-width: 1800px;
}

header {
 display: flex;
 background: rgb(43, 43, 43);
 align-items: center;
 justify-content: space-between;
 padding: 1rem 3rem;
}

header img {
 height: 30px;
}

nav{
 display: flex;
 justify-content: space-between;
}

nav li {
 list-style-type: none;
 color: white;
 padding-right: 3rem;
}

nav li a {
 text-decoration: none;
 color: white;
}

.hero {
 background-color: rgb(43, 43, 43);
 padding: 10rem 4rem;
}

.hero h1 {
 color: white;
padding-bottom: 5rem;
}

.hero img {
 height: 80px;
 padding-left: 3rem;
}

.hero span {
 color: white;

}

#about-section{
 display: flex;
 padding: 5rem 4rem;
 justify-content: space-between;
 background-color: rgb(221, 221, 221);
}

.item-1 h2 {
 color: rgb(58, 120, 255);
 padding: 2rem 0;
 text-transform: uppercase;
 font-size: 3rem;
}

.item-1 p {

 padding: 2rem 0;
 font-size: 1.2rem;
 max-width:900px;
}

.item-2 {
 position: relative;
 top: 5rem;
}
.item-2 img {
 height: 20px;
 display: inline-block;

}


.what-section {
 background-color: white;
padding: 2rem 4rem;
}

.what-section h2 {
 color: rgb(58, 120, 255);
 text-transform: uppercase;
  font-size: 3rem;
   padding: 2rem 0;
 
}

.what-section p {
  color: rgb(58, 120, 255);
   padding: 2rem 0;
 
}
.what-section .container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.what-section .container .box {
 text-align: center;
}
.what-section .container .box img {
 height: 300px;
}



.what-section .container .box img {
 height: 300px;
}

.what-section .container .box img {
 height: 300px;
}

.our-team{
padding: 0rem 4rem;
}
.our-team h2 {
  color: rgb(58, 120, 255);
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 3rem;
  padding-left: 3rem;
}

.our-team .container {
 display: flex;
 flex-wrap: wrap;
 /* padding: 0rem 3rem; */
 /* gap: 1.5rem; */
 justify-content: space-between;
}



.our-team .container .box{
 text-align: center;
 padding-bottom: 1rem;
}

.our-team .container .box p {
 padding: 2rem 0;
}
.our-team .container .box img {
height: 150px;
}


.bottom {
 background-color: rgb(247, 247, 247);
 padding: 2rem 3rem;
}

.bottom .container {
 display: flex;
 justify-content: space-between;
}

.bottom .container .box a {
 display: block;
 text-decoration: none;
 padding: .7rem 0;
 font-size: .9rem;
 text-align: center;
 color: grey;
}

footer img {
height: 40px;

}

footer .center {
 text-align: center;
}


#menu-bar {

 font-size: 2.5rem;
 padding: 1.5rem .5rem;
 color: white;
 display: none;
}

















/* MQ */

@media (max-width:768px) {

 #menu-bar {
  display: block;
  z-index: 100;
  cursor: pointer;
 }

 header nav {
  position: absolute;
  top:0px; left: -100%;
  width: 100%;
  background: rgb(151, 151, 151);
  opacity: 1;
  /* border-top: 4px solid black; */
  display: block;
  text-align: center;
  /* padding: 2rem; */
 
  
 }

 header nav.active {
left: 0;
 }

 header nav li a {
  margin: 1rem;
  /* padding: .5rem 0; */
  text-decoration: none;
  font-size: 1rem;
  color: white;
 
  display: inline-block;
  }

#about-section {
 flex-direction: column;
 text-align: center;
 padding-bottom: 10rem;
}

.what-section .container {
margin: 0 auto;
display: block;
}

.what-section h2  {
text-align: center
}

.what-section p {
 text-align: center;
}

}